/* CSS stylesheet  for application */
* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 0 !important;
}

#body {
    background-color: #F5F5F3;


    width: 100%;

    text-align: center;

}

/* Navbar */
.navbar {
    padding: 0 !important;
    margin-bottom: -15px !important;
}

.navbar-brand {
    padding: 0 !important;

}


/* Index */

#index-body {
    width: 100% !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url("../images/baggrundBil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.welcome {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
}

.welcome h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 105px;
    text-align: center;
    color: white;
}

.bestilcarport {
    background-color: white;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
}


/* quickbyg */
.quickbyg-body {
    width: 100% !important;
    display: inline-block !important;
    padding-top: 50px !important;
    padding-bottom: 50px;
}


.quickbyg-top h1 {
    padding-top: 50px !important;
    padding-bottom: 30px !important;
    font-weight: bold !important;
}

.carport-dropdowns {
    width: 50%;
    padding-top: 30px;

    margin: 0 !important;
    float: left !important;
}

.carport-dropdowns h2 {
    font-size: 24px !important;
    font-weight: bold !important;
    padding-bottom: 20px;
}


#widthlengthroof select {
    background-color: white !important;
    color: #333333 !important;
    font-family: 'Poppins', sans-serif;
    border: 0 !important;
    box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    padding: 10px 60px !important;
    border-radius: 5px;
}

.fortsaet-bestilling {
    background-color: #003D76 !important;
    border-radius: 5px;
    border: none;
    color: white !important;
    box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    padding: 8px 30px !important;
    margin-top: 20px !important;
    text-align: center;
    margin-bottom: 50px;
}


.quickbygbillede {
    width: 50%;
    margin: 0 !important;
    float: right !important;

}

/*kontakt info*/
.kontaktinfo {
    width: 100% !important;
    display: inline-block !important;
    padding-top: 50px !important;
    padding-bottom: 50px;
}

.admin-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-overview {
    text-align: center;
}

.order-table-div{
    position: relative;
    overflow-y: auto;
    max-height: 50vh;
    margin: 0 auto;
    width: 50%;
}

.order-table {
    width:100% ;
    table-layout: fixed;
    border-collapse: collapse;
}

.order-table th{
    padding: 10px 20px;
    text-align: center;
}

.order-table td{
    text-align: center;
}


.order-table-header-div{
    position: sticky;
    top: 0;
    z-index: 1;
}

.order-table-header-div table{
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

.order-table-header-div th{
    padding: 10px 20px;
    text-align: center;
}
.price-overview{
    text-align: center;
}

.price-table{
    margin: 0 auto;
    text-align: center;
}

.price-table th{
    padding: 10px 20px;
}

.approve-button{
    color: white;
    background-color: green;
}

.declined-button{
    color: white;
    background-color: red;
}

.priceApprove-button{
    color: white;
    background-color: green;
}