/* CSS stylesheet  for application */
* {
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 0 !important;
}

#body {
    background-color: #F5F5F3;


    width: 100%;

    text-align: center;

}

/* Navbar */
.navbar {
    padding: 0 !important;
    margin-bottom: -15px !important;
}

.navbar-brand {
    padding: 0 !important;

}


/* Index */

#index-body {
    width: 100% !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url("../images/baggrundBil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.welcome {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
}

.welcome h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 105px;
    text-align: center;
    color: white;
}

.bestilcarport {
    background-color: white;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
}


/* quickbyg */
.quickbyg-body {
    width: 100% !important;
    display: inline-block !important;
    padding-top: 50px !important;
    padding-bottom: 50px;
}


.quickbyg-top h1 {
    padding-top: 50px !important;
    padding-bottom: 30px !important;
    font-weight: bold !important;
}

.carport-dropdowns {
    width: 50%;
    padding-top: 30px;

    margin: 0 !important;
    float: left !important;
}

.carport-dropdowns h2 {
    font-size: 24px !important;
    font-weight: bold !important;
    padding-bottom: 20px;
}


#antal select {
    background-color: white !important;
    color: #333333 !important;
    font-family: 'Poppins', sans-serif;
    border: 0 !important;
    box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    padding: 10px 60px !important;
    border-radius: 5px;
}

.fortsaet-bestilling {
    background-color: #003D76 !important;
    border-radius: 5px;
    border: none;
    color: white !important;
    box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.55);
    padding: 8px 30px !important;
    margin-top: 20px !important;
    text-align: center;
    margin-bottom: 50px;
}


.quickbygbillede {
    width: 50%;
    margin: 0 !important;
    float: right !important;
}

.quickbyg-top-text {
    margin: 0 auto !important;
    width: 50%;
}

/*kontakt info*/
.kontaktinfo {
    width: 100% !important;
    display: inline-block !important;
    padding-top: 50px !important;
    padding-bottom: 50px;
}

.kontaktinfo-input {
    display: block;
    width: 40% !important;
    margin: 0 auto !important;

}

.kontaktinfo-input label {
    float: left;
    padding-top: 15px;
    font-size: 14px;
}

.admin-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overviewOfAllOrdersTable {
    margin: 0 auto;
    text-align: center;
}

.allOrders-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    max-height: calc(50vh - 20px);
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
}

.overviewOfAllOrdersTable th {
    padding-left: 10px;
    padding-right: 10px;
}

.allOrders-div td {
    padding-left: 10px;
    padding-right: 10px;
}

.price-overview {
    text-align: center;
}

.price-table {
    margin: 0 auto;
    text-align: center;
}

.price-table th {
    padding: 10px 20px;
}

.approve-button {
    color: white;
    background-color: green;
}

.declined-button {
    color: white;
    background-color: red;
}

.priceApprove-button {
    color: white;
    background-color: green;
}

.kontaktinfo-input input {
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.20);
    padding: 10px 10px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    overflow-y: scroll;
    width: 100%;
    height: 150px;
}

.td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.table1 th:nth-child(1),
.table1 th:nth-child(2),
.table1 th:nth-child(3),
.table1 th:nth-child(4),
.table1 th:nth-child(5),
.table1 th:nth-child(6),
.table1 td:nth-child(1),
.table1 td:nth-child(2),
.table1 td:nth-child(3),
.table1 td:nth-child(4),
.table1 td:nth-child(5),
.table1 td:nth-child(6) {
    width: 16.66% !important;
}

.table2 th:nth-child(1),
.table2 th:nth-child(2),
.table2 th:nth-child(3),
.table2 th:nth-child(4),
.table2 th:nth-child(5),
.table2 th:nth-child(6),
.table2 td:nth-child(1),
.table2 td:nth-child(2),
.table2 td:nth-child(3),
.table2 td:nth-child(4),
.table2 td:nth-child(5),
.table2 td:nth-child(6) {
    width: 16.66% !important;
}

.userOrderTable {
    overflow-y: scroll;
    width: auto;
    height: 150px;
}

.tableTitles {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    overflow-y: scroll;
}

.titles {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.orderDetails-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background-color: #F5F5F3;
}

.orderDetails {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.orderDetails-table {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

.orderDetails-table th, .orderDetails-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.orderDetails-backButton {
    background-color: #003D76;
    color: white;
    border: none;
    border-radius: 5px;
}

.deleteOwnUserButton {
    text-align: left;
}

.deleteOwnUserButton form {
    display: inline-block;
}

.deleteOwnUserButton button[type=submit] {
    background-color: red;
    color: white;
}
